{{ include('layout/header.html') }}

<div class="find-content-contianer">
    <div class="find-content-title clearfix">
        <div class="zhibo">
            <i class="iconfont icon-zhibo"></i>
            <span>直播</span>
        </div>
        <div class="shequ">
            <i class="iconfont icon-community"></i>
            <span>社区</span>
        </div>
        <div class="haodongxi">
            <i class="iconfont icon-zhuanshi"></i>
            <span>好东西</span>
        </div>
        <div class="paizhao">
            <i class="iconfont icon-paizhao"></i>
            <span>拍照购</span>
        </div>
    </div>
    <div class="find-content-select">
        <div class="select-content">
            <ul class="clearfix">
                <li>送女神</li>
                <li>大礼包</li>
                <li>超好吃</li>
                <li>很便宜</li>
                <i class="iconfont icon-xiangxia1"></i>
                <div class="select-more">
                    <li>亲子园</li>
                    <li>品牌街</li>
                    <li>理财师</li>
                    <li>送朋友</li>
                    <li>文艺咖</li>
                    <li>生活家</li>
                    <li>视频购</li>
                </div>
            </ul>

        </div>
    </div>
    <div class="find-content-info">
        <h2>你的星空正在开发中,敬请期待中...</h2>
        <img src="{__PUBLIC__}/assets/images/find.jpg">
    </div>
</div>