<!-- 底部 -->
<div class="footer">
	<div class="footer-contianer clearfix">
		<div>
			<a href="index.php">
				<i class="iconfont icon-shouye-shouye" style="color:red;"></i>
				<span style="color: red;">首页</span>
			</a>
		</div>
		<div>
			<a href="sort.php">
				<i class="iconfont icon-fenlei"></i>
				<span>分类</span>	
			</a>
		</div>
		<div>
			<a href="find.php">
				<i class="iconfont icon-faxian1"></i>
				<span>发现</span>
			</a>
		</div>
		<div>
			<a href="cart.php">
				<i class="iconfont icon-gouwuche"></i>
				<span>购物车</span>
			</a>	
		</div>
		<div>
			<a href="personal.php">
				<i class="iconfont icon-my"></i>
				<span>我的</span>			
			</a>
		</div>
	</div>
</div>
<script type="text/javascript" src="public/assets/js/global.js"></script>