<!-- 头部搜索	 -->
<div class="header-contianer">
	<div class="header-search">
		<div class="saoyisao">
			<i class="iconfont icon-saoyisao"></i>
			<p>扫一扫</p>
		</div>
		<div class="input-search">
			<div class="search-window">
				<i class="iconfont icon-sousuo-sousuo"></i>
				<a href="{{ url('search/index') }}"><input type="text" placeholder="搜搜更健康" /></a>
				<i class="iconfont icon-huatong"></i>
			</div>
		</div>
		<div class="xiaoxi">
			<i class="iconfont icon-xiaoxi"></i>
			<p>消息</p>
		</div>
	</div>
</div>