<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" type="text/css" href="{__PUBLIC__}/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_prgo1w2issq3erk9.css">
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_0db6f2trv5z5mi.css">
	<script type="text/javascript" src="{__PUBLIC__}/assets/js/jquery-1.11.3.js"></script>
</head>
<body>

{__CONTENT__}

{{ include('layout/footer.html') }}
</body>
</html>


