<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport"   content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{__PUBLIC__}/assets/css/style.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_wkuipdfd2y1zto6r.css">
    <script type="text/javascript" src="{__PUBLIC__}/assets/js/jquery-1.11.3.js"></script>
</head>
<body>
<div class="search-menu-box">
<!-- 头部搜索    -->
    <div class="search-contianer">
        <div class="return"> 
            <a href="javascript:void();" onclick="window.history.go(-1);"><i class="iconfont icon-fanhui" style="font-size: 26px;color: #b5b4b4;"></i></a>
        </div>
        <div class="search-info-contianer">
            <div class="search-window">
                <i class="iconfont icon-sousuo-sousuo"></i>
                <input type="text" placeholder="搜索你想要的零食"/>
                <i class="iconfont icon-huatong"></i>
            </div>
        </div>
        <div class="search-btn">
            <p>搜索</p>
        </div>
    </div>
    <div class="get-search-contianer">
        <ul>
            <li><a href="">695414芭比手工牛咋饼奶盐味148g</a></li>
            <li><a href="">695414芭比手工牛咋饼奶盐味148g</a></li>
            <li><a href="">695414芭比手工牛咋饼奶盐味148g</a></li>
            <li><a href="">695414芭比手工牛咋饼奶盐味148g</a></li>
        </ul>
    </div>
    <div class="hot-search-contianer">
        <p>热搜</p>
        <div class="hot-search-content">
            <ul class="clearfix">
                <li>都市丽人</li>
                <li>都市丽人</li>
                <li>都市丽人</li>
                <li>都市丽人</li>
                <li>都市丽人</li>
                <li>都市丽人</li>
                <li>都市丽人</li>
                <li>都市丽人</li>
                <li>都市丽人</li>
                <li>都市丽人</li>
            </ul>
        </div>
    </div>
    <div class="fix"></div>
    <div class="search-history">
        <p>搜索历史</p>
        <div class="search-history-content">
            <ul>
                <li>甜牛奶</li>
                <li>甜牛奶</li>
                <li>甜牛奶</li>
                <li>甜牛奶</li>
                <li>甜牛奶</li>
                <li>甜牛奶</li>
                <li>甜牛奶</li>
            </ul>
        </div>
    </div>
    <div class="clear-search-history">
        <span><i class="iconfont icon-qingkong"></i>清空搜索历史</span>
    </div>
</div>
</body>
</html>