{{ include('layout/header.html') }}

<!-- 店铺信息 -->
<div class="img-contianer">
	<div class="img-box">
		<img src="{__PUBLIC__}/assets/images/bg.jpg">
	</div>
	<div class="contianer-info">
		<div class="shop-info">
			<p>店铺信息</p>
		</div>
		<div class="shop-name info">
			<i class="iconfont icon-name" style="color: red"></i>
			<span>店铺名称：随便点小店</span>
		</div>
		<div class="shop-time info">
			<i class="iconfont icon-llstoredetailtime" style="color:#ffb031;"></i>
			<span>营业时间：00:00-23:59</span>
		</div>

		<div class="shop-addr info">
			<i class="iconfont icon-dianpudizhi-" style="color:red"></i>
			<span>店铺地址：福建农林大学南四</span>
		</div>

		<div class="shop-tel info">
			<i class="iconfont icon-4psd" style="color: #3671f1;"></i>
			<span>联系电话：17704628364</span>
			<a href="tel:17704628364"><i class="iconfont icon-dianhua" style="color:red;"></i></a>
		</div>
		<div class="shop-startf info">
			<i class="iconfont icon-0yuanqisong" style="color:red"></i>
			<span>起送价格：0元</span>
		</div>
		<div class="shop-range info">
			<i class="iconfont icon-fuwufanwei" style="color:red"></i>
			<span>服务范围：10公里以内</span>
		</div>
		<div class="shop-area info">
			<i class="iconfont icon-peisongfw" style="color: #11ffc5;"></i>
			<span>服务区域：福建农林大学境内</span>
		</div>
	</div>
</div>
